@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,300;10..48,400;10..48,500;10..48,600;10..48,700;10..48,800&family=Oswald:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color: white;
}

body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

h1 {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
::-webkit-scrollbar {
  display: none;
}

.hole {
  position: fixed;
  background: radial-gradient(
    circle,
    rgb(0, 0, 0, 0.25) 0%,
    rgba(0, 0, 0, 1) 45%
  );
}

.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size .5s ease-in-out;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent), linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255))
}

.link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%
}
